@mixin margin () {
  margin: 0;
}

@mixin padding () {
  padding: 0;
}

@mixin common () {
  @include margin();
  @include padding();
}

@mixin button () {
  @include common();
  background: transparent;
  border: none;
  cursor: pointer;
}